<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.Practices.SmartClient.ReferenceImplementation.AppraiserWorkbench.AppraisalServiceAgent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Microsoft.Practices.SmartClient.ReferenceImplementation.AppraiserWorkbench.AppraisalServiceAgent.Properties.Settings>
            <setting name="SERVICE_POLLING_INTERVAL" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="GET_APPRAISALS_TIMEOUT" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="LOCK_APPRAISALS_TIMEOUT" serializeAs="String">
                <value>10000</value>
            </setting>
        </Microsoft.Practices.SmartClient.ReferenceImplementation.AppraiserWorkbench.AppraisalServiceAgent.Properties.Settings>
    </userSettings>
</configuration>