<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.Practices.SmartClient.ReferenceImplementation.AppraiserWorkbench.WebServiceProxies.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="WebServiceProxies.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Microsoft.Practices.SmartClient.ReferenceImplementation.AppraiserWorkbench.WebServiceProxies.Properties.Settings>
            <setting name="WebServiceProxies_AppraisalService_AppraisalManagementService"
                serializeAs="String">
                <value>http://localhost:1428/AppraisalService/AppraisalManagementService.asmx</value>
            </setting>
        </Microsoft.Practices.SmartClient.ReferenceImplementation.AppraiserWorkbench.WebServiceProxies.Properties.Settings>
        <WebServiceProxies.Properties.Settings>
            <setting name="WebServiceProxies_AppraisalService_AppraisalManagementService"
                serializeAs="String">
                <value>http://localhost:1428/AppraisalService/AppraisalManagementService.asmx</value>
            </setting>
        </WebServiceProxies.Properties.Settings>
    </applicationSettings>
</configuration>